<h1>List of items to do</h1>

<p>This component demonstrates fetching data from the server. https://jsonplaceholder.typicode.com/todos</p>

<p *ngIf="!todos"><em>Loading...</em></p>

<table class='table' *ngIf="todos">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos; let i = index">
            <td>{{ todo.userId }}</td>
            <td>{{ todo.id }}</td>
            <td>{{ todo.title }}</td>
            <td><i *ngIf="todo.completed" style="color:green;" class="fa fa-check fa-2x" aria-hidden="true"></i>
            <i *ngIf="!todo.completed" style="color:red;" class="fa fa-close fa-2x" aria-hidden="true"></i>
            </td>
            <td><button class="btn btn-primary" (click)="OnDelete(todo.id, i)">Delete</button></td>
        </tr>
    </tbody>
</table>
